.rating-card{
    border-radius: 10px;
    height: 175px;
    width: 180px;
    background-color: #fff;
    margin: 0 20px 20px 0;
    .icon-imdb{
        height: 35px;
        width: 35px;
    }
    .rating-show{
        position: relative;
        .rating{
            position: absolute;
            top: 19px;
            font-size: 30px;
            font-family:$lato-light ;
        }
    }
}

.movie-card{
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    height: 270px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);

    .movie-poster{
        height: 200px;
        width: 150px;
        border-radius: 5px;
        border:3px solid #fcbc02 ;
    }
    .movie-name{
        font-size: 18px;
        font-family: $lato-semibold;
    }
    .movie-rating{
        font-size: 11px;
        font-family: $lato-semibold;
    }
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.active-card{
    background-color: #fcbc02;
    border-radius: 10px;
    padding: 15px;
    width: 540px;
    height: 270px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    color:#fff;
    font-family: $lato-semibold;
    font-size: 20px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);

    .active-poster-image{
        // height: 200px;
        // width: 150px;
        height: 245px;
        width: 170px;
        border-radius: 5px;
        border:3px solid #ffffff;
    }
    .series-name{
        font-family: $lato-bold;
        font-size: 30px;
    }
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}