.ant-form{
    .ant-form-item-label{
        font-size: 15px;
        font-weight: 600;
    }
    .ant-input{
        padding: 7px!important;
    }

    .ant-input-password{
        .ant-input{
            padding: 4px!important;
        
        }
    }
    .ant-form-item{
        margin-bottom: 10px!important;
    }
    .ant-select-selector{
        height: 38px!important;
        padding-top: 3px!important;
    }

    

}



.ant-btn-primary{
    background-color: #665DF5;
    border-color: #665DF5;
    &:hover,&:focus,&:active{
        background-color: #665DF5;
        border-color: #665DF5;
    }
}