.sort-by-text{
    font-family: $lato-light;
    font-size: 12px;
}
.ant-select{
    .ant-select-selector{
        background-color: transparent!important;
        font-size: 13px!important;
    }
}

.page-title{
    font-family: $lato-bold;
    font-size: 20px;
}